<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="index.html" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li class="submenu"><a href="#">{{ site.t[page.lang].header.features }}</a>   
								<ul>
									<li><a href="prosecutor-solution.html">{{ site.t[page.lang].header.prosecutorproject }}</a></li>  
								</ul>
            </li>
            <li class="submenu">
								<a href="#">{{ site.t[page.lang].header.explore }}</a>
								<ul>
									<li><a href="prosecutor.html">{{ site.t[page.lang].header.prosecutor }}</a></li>  
									<li><a href="left-sidebar.html">{{ site.t[page.lang].header.prosecutorapi }}</a></li>   
									<li><a href="left-sidebar.html">{{ site.t[page.lang].header.prosecutormoodle }}</a></li>
									<li><a href="left-sidebar.html">{{ site.t[page.lang].header.barrister }}</a></li>
								</ul>
							</li>
   
            <li><a href="#" class="button special">{{ site.t[page.lang].header.download }}</a></li>
            <li><a class="en" href="/index.html">EN</a></li>                                                   
            <li><a class="cs" href="/cs/index.html">CZ</a></li>
        </ul>
    </nav>
</header>